.bloco-pedidos{
background-attachment: fixed;
flex-direction: row;
}

.button-add{
    background-color: #003C56;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block; 
    margin: 0 auto;
}

.button-add:hover{
    background-color: #d2eaff;
    color:#001eff;
}

.produto-image {
    max-width: 100%;
    width: 400px;
    height: 400px;
    height: auto;
    display: block; 
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 8px;
  }

.produto-title{
    text-align: center;
    margin: 15px;
    margin: 0 auto;
    display: block;

}

.produto-preco{
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

